# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Local virtual environments
venv/
.env/
.env
env/
ENV/
.venv/


# VS Code settings
.vscode/

# Mac system files
.DS_Store


# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backend config
terraform/backend.hcl

# test coverage log
.coverage

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files (often used locally)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Sensitive config files
.terraformrc
terraform.rc

lambda_package.zip