
# for unit testing
pytest
pytest-cov

# for environment variable management
python-dotenv


# for making API calls
fastapi
uvicorn


# for AWS interactions
boto3
botocore

# for data manipulation
pandas