# for unit testing
pytest
pytest-cov

# for environment variable management
python-dotenv


# for making API calls
fastapi
uvicorn


# for AWS interactions
# workaround for boto3/botocore conflict
urllib3<1.27


# for data manipulation
pandas

#  for database sql logic
pymysql

sqlalchemy
click>=8.1
numpy