# for unit testing
pytest
pytest-cov

# for environment variable management
python-dotenv


# for making API calls
fastapi
uvicorn


# for AWS interactions
boto3

requests

# for data manipulation
pandas

#  for database sql logic
pymysql

sqlalchemy

numpy