aws_region = "your aws region"
aws_profile = "your aws profile name"

metoffice_api_key="Met office API key"

landing_bucket_name = "name of s3 bucket for landing raw data"

loading_db_name = "name of rds db for cleaned data"

loading_db_password="password for rds db"

db_port="rds db port"

db_host="end point for rds db"

my_ip_cidr=" your local CIDR block"

vpc_id="AWS VPC id"

vpc_name = "VPC name"

ecr_image_path = "path to ECR repo's docker image"

ecs_cluster_name = "name of ECS cluster"

subnet_private_a_name = "private subnet a name"

subnet_private_b_name = "private subnet b name"

container_name = "name of docker container"
